" Modeline and Notes {
" vim: set sw=4 ts=4 sts=4 et tw=78 foldmarker={,} foldlevel=0 foldmethod=marker spell:
" }

" General {
    set clipboard+=unnamedplus  " Use system clipboard
    set history=1000            " Store a ton of history
    set undolevels=1000         " Maximum number of changes that can be undone
" }

" UI {
    set showmode        " Display the current mode
    set number          " Line numbers are shown
    set relativenumber  " Line numbers relative to current line
" }

" Code {
    " Behaviour {
        set hlsearch      " Highlight search terms
        set ignorecase    " Case insensitive search
        set smartcase     " Case sensitive when upper case present
        set wrapscan      " Searches wrap around the end of the file
    " }
" }

" Key (re)Mappings {
    " Remap leader key
    map <SPACE> <LEADER>

    " jk escapes insert mode
    inoremap jk <ESC>

    " Easier moving in splits
    map <C-L> <C-W>l
    map <C-K> <C-W>k
    map <C-J> <C-W>j
    map <C-H> <C-W>h

    " Easier moving in tabs
    map <S-L> :action NextTab<CR>
    map <S-H> :action PreviousTab<CR>

    " Yank from the cursor to the end of the line, to be consistent with C and D.
    nnoremap Y y$

    " Toggle search highlighting rather than clear the current search results
    nmap <LEADER>/ :nohlsearch<CR>

    " Visual shifting (does not exit Visual mode)
    vnoremap < <gv
    vnoremap > >gv

    " Comment line
    nmap <LEADER>c :action CommentByLineComment<CR>

    " Find string in path
    map <C-/> :action FindInPath<CR>

    " Open project window
    nmap <LEADER>nt :action ActivateProjectToolWindow<CR>

    " Open structure window
    nmap <LEADER>tt :action ActivateStructureToolWindow<CR>

    " Close all windows
    map <LEADER><ESC> :action HideAllWindows<CR>

    " TODO: Tab completion pop up movement
    " TODO: Code folding shortcut
    " TODO: Combine Cyclic Expand Word with auto complete pop up
    " TODO: CtrlP to open files
" }
